<%- include('partials/header') %>
<%- include('partials/RTC') %>
<body>
  <%- include('partials/navbar')%>
  <div class="container">
    <div class="alert mt-20" role="alert">
      <button class="close" data-dismiss="alert" type="button" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      <h4 class="alert-heading">Your Metting Id</h4>
      Simply click or tab on the id and send it to the person you want to join.
      <code style="color: #08645a;" class="bg-light p-2 rounded user-select-all" id="room-id"><%= roomId %></code>
      <span class="font-weight-light" id="copy-icon" hidden> <i class="fas fa-copy mx-1"></i> Copied</span>
    </div>
  </div>
  <div id="video-grid"></div>
</body>
<script>
const idBar = document.getElementById('room-id');
const copyIcon = document.getElementById('copy-icon');

idBar.addEventListener('click' , (e) => {
  document.execCommand("copy");
  copyIcon.removeAttribute('hidden');
  setTimeout(() => {
    copyIcon.setAttribute('hidden' , true);
  }, 3000);

})

</script>
</html>

<%- include('partials/footer') %>