<%- include('partials/header') %>
<%- include('partials/RTC') %>
<body>
  <%- include('partials/navbar')%>
  <div id="video-grid"></div>
  <div class="badge badge-dark text-wrap fixed-bottom m-3 py-4" style="width: 40rem;">
    <span class="h6">Use this code to invite other to the meeting </span> 
    <code style="color: #08645a;" class="bg-light p-2 rounded user-select-all" id="room-id"><%= roomId %></code>
    <span class="font-weight-light" id="copy-icon" hidden> <i class="fas fa-copy mx-1"></i> Copied</span>
  </div>
  
</body>
<script>
const idBar = document.getElementById('room-id');
const copyIcon = document.getElementById('copy-icon');

idBar.addEventListener('click' , (e) => {
  document.execCommand("copy");
  copyIcon.removeAttribute('hidden');
  
  setTimeout(() => {
    copyIcon.setAttribute('hidden' , true);
  }, 3000);

})

</script>
</html>

<%- include('partials/footer') %>