<%- include('partials/header') %>
<%- include('partials/RTC') %>
<body>
  <%- include('partials/navbar')%>
  <div class="modal" id="modal-1" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <a href="#" class="close" role="button" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </a>
        <h5 class="modal-title">Are You Sure ?</h5>
        <p>
          Confirm to leave the meeting
        </p>
        <div class="text-right mt-20"> <!-- text-right = text-align: right, mt-20 = margin-top: 2rem (20px) -->
          <a href="#" class="btn mr-5" role="button">No</a>
          <a href="#" class="btn btn-primary" role="button" id="leave">Yes</a>
        </div>
      </div>
    </div>
  </div>
  <header>
    <nav class="cd-stretchy-nav">
      <a class="cd-nav-trigger" href="#0">
        <span aria-hidden="true"></span>
      </a>
  
      <ul>
        <li><button class="btn" id="mic" type="button" onclick="miceToggle()"><i class="fas fa-microphone"></i></button></li>
        <li><button class="btn my-5" id="camera" type="button" onclick="videoToggle()"><i class="fas fa-video"></i></button></li>
        <a class="btn" type="button" href="#modal-1"><i class="fas fa-door-open"></i></a>
      </ul>
  
      <span aria-hidden="true" class="stretchy-nav-bg"></span>
    </nav>
  </header>
  <div class="container">
    <div class="alert  my-5" role="alert">
      <button class="close" data-dismiss="alert" type="button" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      <h4 class="alert-heading">Your Metting Id</h4>
      Simply click or tab on the id and send it to the person you want to join.
      <code style="color: #08645a;" class="bg-light p-2 rounded user-select-all" id="room-id"><%= roomId %></code>
      <span class="font-weight-light" id="copy-icon" hidden> <i class="fas fa-copy mx-1"></i> Copied</span>
    </div>
  </div>
  <div id="video-grid"></div>
  <div class="d-flex controls p-5">
      <button class="btn" id="mic" type="button" onclick="miceToggle()"><i class="fas fa-microphone"></i> Mute</button>
      <button class="btn ml-5" id="camera" type="button" onclick="videoToggle()"><i class="fas fa-video"></i> Stop Video</button>
      <a class="btn ml-5" type="button" href="#modal-1"><i class="fas fa-door-open"></i>Leave</a>
    </div>

  </div>
</body>
<script defer>
const idBar = document.getElementById('room-id');
const copyIcon = document.getElementById('copy-icon');

idBar.addEventListener('click' , (e) => {
  document.execCommand("copy");
  copyIcon.removeAttribute('hidden');
  setTimeout(() => {
    copyIcon.setAttribute('hidden' , true);
  }, 3000);

})

document.getElementById('leave').addEventListener('click' , () => {
  location.href = '/'
})

document.querySelector('.cd-nav-trigger').addEventListener('click' , () => {
  document.querySelector('.cd-stretchy-nav').classList.toggle('nav-is-visible')

})

</script>
</html>

<%- include('partials/footer') %>